h1, h2, h3 {
    color: rgb(255, 255, 255);
    border: 2px solid white;
    font-family:Arial, sans-serif ;
    text-align: center;
}
p {
    color: rgb(255, 255, 255);
    font-family:Arial, sans-serif ;
    font-size: 15px;
    text-align: center;
}
body {
    background-color: rgb(121, 121, 121);
}
ul li{
    width: 100%;
    list-style: none;
    color: rgb(255, 255, 255);
    display: inline;
    margin: 0 20px;
}